doctype html
html
	include head
	body
		include header
		
		div(class="about-us block",style="border-bottom: none;")
			div(class="container")
				
				div(class="about-one")

					div(class="about-one-item")

						div(class="about-one-content")
							h3 Frogs. They don't get tech.
							p 
								| What would happen if a bunch of frogs got together to start a technology company? This web comic
								| looks to answer that question, as well as many other deep questions that linger in the minds of
								| anyone who's ever used the Internet.
							p No, seriously.
							p
								| Okay, maybe it's just a bunch of silly puns inside speech balloons attached to the mouths of cartoon frogs
								| that veil a deep and though-provoking commentary on our modern culture.
							p
								| Whatever it is, it is definitely a web comic designed to use the full power of the web as a medium. It's not just
								| a print comic on a web page. It's HTML5, CSS, JS, SVG, and a bunch of other acronyms. <a href="http://thoughts.amphibian.com">And you can
								| read more about the technology that I use to create it here.</a>

					div(class="clearfix")
				
				div(class="about-three")
					div(class="row")
						div(class="col-md-4 col-sm-4")
							div(class="about-three-item")
								a(href="#") <img src="/simg/ceo.png" alt="CEO Frog" class="img-responsive" />
								h3 Frog
								h5 President & CEO
								p He has the vision it takes to lead a great technology company. But that's about it. 
						div(class="col-md-4 col-sm-4")
							div(class="about-three-item")
								a(href="#") <img src="/simg/chief_scientist.png" alt="Science Frog" class="img-responsive" />
								h3 Science Frog
								h5 Chief Scientist
								p With thick glasses and a lab coat, he sure looks like he knows science. At least he asks a lot of questions.
						div(class="col-md-4 col-sm-4")
							div(class="about-three-item")
								a(href="#") <img src="/simg/coo.png" alt="Business Frog" class="img-responsive" />
								h3 Business Frog
								h5 Vice President
								p He knows how to get the job done. If only he knew what the job was. Or anything else.

		
		include footer
		include js
