doctype html
html
	include head
	body
		include header
		
		div(class="about-us block",style="border-bottom: none; padding-top: 20px;")
			div(class="container")
				
				if (filteredBy || searchedFor)
					div(class="filtered-archive")
						h2(style="float: left;")
							if (filteredBy)
								!= 'Showing comics with the tag #' + filteredBy
							if (searchedFor)
								!= 'Showing comics containing "' + searchedFor + '"'
						span(class="clear-filter")
							i(class="fa fa-times",aria-hidden="true")
						div(class="clearfix")

				div(class="form-inline",style="margin-bottom: 15px;")
					div(class='form-group clearfix')
						label(style="font-family: 'Sniglet'; font-weight: normal; font-size: larger; margin-right: 10px;",for="searchFor") Search For Comics Containing
						input#searchFor.form-control(style="",type="text",placeholder="something cool")
					button#doSearch(style="margin-left: 10px;",class="btn btn-primary")
						| Go

				div(class="about-one")
					div(class="about-one-item")
						div(class="about-one-content")

						- var cMon = -1;
						- var cYear = -1;
						- var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
						- for (var c in comics)

							if (cMon != comics[c].pdate.getMonth() || cYear != comics[c].pdate.getFullYear())
								- cMon = comics[c].pdate.getMonth()
								- cYear = comics[c].pdate.getFullYear()
								h3(style='margin-bottom: 20px !important;')= monthNames[comics[c].pdate.getMonth()] + ' ' + comics[c].pdate.getFullYear()
								p(style='margin-left: 50px !important;')
									a(href='/' + comics[c].id)= comics[c].published + ' - ' + comics[c].title
							else
								p(style='margin-left: 50px !important;')
									a(href='/' + comics[c].id)= comics[c].published + ' - ' + comics[c].title

						- if (comics.length == 0)
							div
								p No comics found! Alert the accountants!
								img(src="/images/business_face_left_puzzled.svg",style="width: 20%; float: right;")
						- else
							img(src="/images/frog.svg",style="width: 20%; float: right;")

				div(class="clearfix")

		include footer
		include js
