doctype html
html
	include head
	body
		include header
		
		div(class="about-us block",style="border-bottom: none;" + (filteredBy || searchedFor ? "padding-top: 15px;" : ''))
			div(class="container")
				
				if (filteredBy || searchedFor)
					div(class="filtered-archive")
						h2(style="float: left;")
							if (filteredBy)
								!= 'Showing comics with the tag #' + filteredBy
							if (searchedFor)
								!= 'Showing comics containing "' + searchedFor + '"'
						span(class="clear-filter")
							i(class="fa fa-times",aria-hidden="true")
						div(class="clearfix")

				div(class="about-one")
					div(class="about-one-item")
						div(class="about-one-content")

						- var cMon = -1;
						- var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
						- for (var c in comics)

							if (cMon != comics[c].pdate.getMonth())
								- cMon = comics[c].pdate.getMonth()
								h3(style='margin-bottom: 20px !important;')= monthNames[comics[c].pdate.getMonth()] + ' ' + comics[c].pdate.getFullYear()
								p(style='margin-left: 50px !important;')
									a(href='/' + comics[c].id)= comics[c].published + ' - ' + comics[c].title
							else
								p(style='margin-left: 50px !important;')
									a(href='/' + comics[c].id)= comics[c].published + ' - ' + comics[c].title

				div(class="clearfix")

		include footer
		include js
