- for (var c in cells)
	div.box
		p.bubble(style=(cells[c].bubble.width ? 'width: ' + cells[c].bubble.width + 'px;' : '') + 'top: ' + cells[c].bubble.top + 'px; left: ' + cells[c].bubble.left + 'px;')
			= cells[c].bubble.text
		- for (var i in cells[c].imgs)
			img(style='top: ' + cells[c].imgs[i].top + 'px; left: ' + cells[c].imgs[i].left + 'px;'+(cells[c].imgs[i].width ? ' width: ' + cells[c].imgs[i].width + 'px;' : ''),src='/images/'+cells[c].imgs[i].src,alt='frog')
p.pubdate= 'Published ' + pubDate
if prevDate
	p.pubdate!= '<a href="#" onclick="replaceComic(\'/chtml/' + prevDate + '\');">previous</a>'
if nextDate
	p.pubdate!= '<a href="#" onclick="replaceComic(\'/chtml/' + nextDate + '\');">next</a>'
