doctype html
html
	include head
	body
		include header
		include promoHeader
		div#loading
			p Grabbing frogs...
			p
				img(src='/simg/ajax-loader.gif')
		div#comicArea
			include comic
		include inputModal
		include footer
		include js
