- var monthToday = (new Date()).getMonth();
- var dateToday = (new Date()).getDate();
- var thanksgiving = holiday.thanksgiving();
doctype html
html
	include head
	body
		include header
		if (monthToday == 11 || (monthToday == 10 && dateToday >= thanksgiving.getDate()))
			include holidayHeader
		div#loading
			p Grabbing frogs...
			p
				img(src='/simg/ajax-loader.gif')
		div#comicArea
			include comic
		include inputModal
		include tipModal
		include footer
		include js
