doctype html
html
	include head
	body
		include header
		if holiday.isChristmasSeason()
			include holidayHeader
		div#loading
			p Grabbing frogs...
			p
				img(src='/simg/ajax-loader.gif')
		div#comicArea
			include comic
		include inputModal
		include tipModal
		include footer
		include js
