doctype html
html
	include head
	body
		include header
		- for (var c in cells)
			div.box
				p.bubble(style=(cells[c].bubble.width ? 'width: ' + cells[c].bubble.width + 'px;' : '') + 'top: ' + cells[c].bubble.top + 'px; left: ' + cells[c].bubble.left + 'px;')
					= cells[c].bubble.text
				img(style='top: ' + cells[c].img.top + 'px; left: ' + cells[c].img.left + 'px;'+(cells[c].img.width ? ' width: ' + cells[c].img.width + 'px;' : ''),src='/images/'+cells[c].img.src,alt='frog')
		p.pubdate= 'Published ' + pubDate
		if prevDate
			p.pubdate!= '<a href="' + prevDate + '">previous</a>'
		if nextDate
			p.pubdate!= '<a href="' + nextDate + '">next</a>'
		include footer
