hr
form
	textarea#data(rows=20,cols=50)
	button(type='button',onclick='doSave();') save

include js

script(src='/js/jquery.ui.position.js')
script(src='/js/jquery.contextMenu.js')
script(src='/js/jquery-ui-1.10.4.min.js')
script(src='/js/editor.js')