include js

script(src='/js/jquery.ui.position.js')
script(src='/js/jquery.contextMenu.js')
script(src='/js/jquery-ui-1.10.4.min.js')
script(src='/js/jquery-editable-poshytip.min.js')
script(src='/js/jquery.iframe-post-form.js')
script(src='/js/editor.js')