doctype html
html
	include head
	link(href='/css/jquery.contextMenu.css',rel='stylesheet')
	link(href='/css/jquery-ui-1.10.4.min.css',rel='stylesheet')
	link(href='/css/jquery-editable.css',rel='stylesheet')
	body
		include header
		div#controls
			form#imgUpload(action="/images", method="POST", enctype="multipart/form-data")
				input(type='file', name='svg')
				button(type='submit') Upload Image
			p(style='position: absolute; font-size: 3em;')
				span.control(onclick='addCell();')!= '<i class="fa fa-plus"></i>'
				span.control(onclick='doSave2();')!= '<i class="fa fa-save"></i>'
				span.control(onclick='toggleImgUpload();')!= '<i class="fa fa-picture-o"></i>'
		div#comicArea(style='min-height: 500px;')
			div#sizer
		include editor
		include footer
