include js

script(src='/js/jquery.ui.position.js')
script(src='/js/jquery.contextMenu.js')
script(src='/js/jquery-ui-1.10.4.min.js')
script(src='/js/bootstrap-editable.min.js')
script(src='/js/jquery.iframe-post-form.js')
script(src='/js/moment.js')
script(src='/js/bootstrap-datetimepicker.min.js')
script(src='/js/editor.js')