// Footer starts
		
footer
	div.container
		div.row
			div(class='col-md-3 col-xs-6')
				div.footer-link
					h5 Phasellus
					a(href='#') Nullam pharetra nec
					br
					a(href='#') Vulputate vitae
					br
					a(href='#') Phasellus
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Pulvinar
					a(href="#") Aliquam nec
					br
					a(href="#") Nam pulvinar massa
					br
					a(href="#") Maecenas fringilla nec
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Coloring Pages
					<a href='/coloring/frog1.pdf'>Frog 1</a>&nbsp;/&nbsp;<a href='/coloring/frog2.pdf'>Frog 2</a>&nbsp;/&nbsp;<a href='/coloring/frog3.pdf'>Frog 3</a>
					br
					a(href="/coloring/jumping.pdf") Jumping
					br
					a(href="/coloring/science.pdf") Science
					br
					a(href="/coloring/business.pdf") Business
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Contact
					a(href="#") Startups
					br
					a(href="#") Habitasse platea dictumst
				
		// Social
		div(class='social text-center')
			// Social Media Icons
			a(href="#",class="facebook") <i class="fa fa-facebook"></i>
			a(href="https://twitter.com/frogcomics",class="twitter") <i class="fa fa-twitter"></i>
			a(href="#",class="google-plus") <i class="fa fa-html5"></i>
			a#mailme(href="#",class="linkedin") <i class="fa fa-envelope"></i>
				
		div.row
			div.col-md-12
				hr
				div(class='copy text-center') &copy; 2014 <a href="http://caseyleonard.com">Casey Leonard</a>
		
// Footer Ends

span.totop <a href="#.home"> <i class="fa fa-chevron-up"></i> </a>
