// Footer starts
		
footer
	div.container
		// Social
		div(class='social text-center')
			// Social Media Icons
			a(href="https://www.facebook.com/frogcomics",class="facebook") <i class="fa fa-facebook"></i>
			a(href="https://twitter.com/frogcomics",class="twitter") <i class="fa fa-twitter"></i>
			a(href="#",class="google-plus") <i class="fa fa-html5"></i>
			a#mailme(href="#",class="linkedin") <i class="fa fa-envelope"></i>
				
		div.row
			div.col-md-12
				hr
				div(class='copy text-center') &copy; 2014 <a href="http://caseyleonard.com">Casey Leonard</a>
		
// Footer Ends

span.totop <a href="#.home"> <i class="fa fa-chevron-up"></i> </a>
