// Footer starts
		
footer
	div.container
		div.row
			div(class='col-md-3 col-xs-6')
				div.footer-link
					h5 Phasellus
					a(href='#') Nullam pharetra nec
					br
					a(href='#') Vulputate vitae
					br
					a(href='#') Phasellus
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Pulvinar
					a(href="#") Aliquam nec
					br
					a(href="#") Nam pulvinar massa
					br
					a(href="#") Maecenas fringilla nec
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Downloads
					a(href="#") Coloring Pages
					br
					a(href="#") Commodo a fermentum vel
					br
					a(href="#") Eleifend neque
			div(class="col-md-3  col-xs-6")
				div.footer-link
					h5 Contact
					a(href="mailto:casey@amphibian.com") casey@amphibian.com
					br
					a(href="#") Startups
					br
					a(href="#") Habitasse platea dictumst
				
		// Social
		div(class='social text-center')
			// Social Media Icons
			a(href="#",class="facebook") <i class="fa fa-facebook"></i>
			a(href="https://twitter.com/frogcomics",class="twitter") <i class="fa fa-twitter"></i>
			a(href="#",class="google-plus") <i class="fa fa-google-plus"></i>
			a(href="#",class="linkedin") <i class="fa fa-linkedin"></i>
				
		div.row
			div.col-md-12
				hr
				div(class='copy text-center') &copy; 2014 <a href="http://caseyleonard.com">Casey Leonard</a>
		
// Footer Ends