// Footer starts

- cdate = new Date();
		
footer
	div.container
		// Social
		div(class='social text-center')
			// Social Media Icons
			a(href="https://www.facebook.com/frogcomics",class="facebook") <i class="fa fa-facebook"></i>
			a(href="http://thoughts.amphibian.com/",class="blogger") <i class="fa fa-book"></i>
			a(href="https://twitter.com/frogcomics",class="twitter") <i class="fa fa-twitter"></i>
			a#mailme(href="#",class="email") <i class="fa fa-envelope"></i>
				
		div.row
			div.col-md-12
				hr
				div(class='copy text-center')!= '&copy; ' + cdate.getFullYear() + ' <a href="http://caseyleonard.com">Casey Leonard</a>'
				div(class='copy text-center')
					p "The fear of the Lord is the beginning of knowledge, but fools despise wisdom and instruction."
					span <a href="https://www.biblegateway.com/passage/?version=NIV&search=Proverbs+1:7">-Proverbs 1:7</a>
					
		
// Footer Ends

span.totop <a href="#.home"> <i class="fa fa-chevron-up"></i> </a>
