doctype html
html
	include head
	body
		include header
		
		div(class="about-us block",style="border-bottom: none;")
			div(class="container")
				
				div(class="about-one")

					div(class="about-one-item")

						div(class="about-one-content")
						
							a(href='http://caseyleonard.com/ggo13')
								h3 The Frog Lifecycle

							div.container-fluid
							
								div.row
									div.col-sm-8

										p 
											| Originally created for the GitHub Game-off 2013, this game takes you on an epic
											| journey through the frog lifecycle. Start as a tadpole, grabbing food
											| and avoiding other tadpoles. Also, fish try to eat you. The goal
											| is to become a frog as fast as possible.
										p
											| After achieving frogginess, you try to jump frogs back into the pond. As the clock
											| ticks down, aim for lily pads and catch bugs for more time.
										p
											| You'll have to play this one on a "real" computer, as it is
											| not mobile-friendly at this time. I'm really sorry about that.

									div.col-sm-4

										a(href='http://caseyleonard.com/ggo13')
											img(class='img-responsive',src='/simg/game-lifecycle.png',style='float: right')

					div(class="clearfix")

				div(class="about-one",style="margin-top: 10px;")

					div(class="about-one-item")

						div(class="about-one-content")
						
							a(href='http://amphibian.com/ffz/')
								h3 FFZ - HTML5 Sandbox

							div.container-fluid
							
								div.row
									div.col-sm-4

										a(href='http://amphibian.com/ffz/')
											img(class='img-responsive',src='/simg/game-ffz-web.png',style='margin: auto;')

									div.col-sm-8

										p 
											| I don't know if I can call this a game, since there is no real objective,
											| but it can be entertaining. I created it years ago as a sandbox for testing
											| new web technologies like the HTML5 Canvas, Websockets, and HTML5 Audio.
										p
											| You can move your frog around through 4 areas, and see other people moving
											| their frogs around in real-time. Pressing R makes the frog ribbit.
										p
											| I'll keep adding features to this one over time. Let me know if you have
											| any good ideas for what the frogs can do.

					div(class="clearfix")
		
		include footer
		include js
