div(class='top')

	// Header Starts

	header
		div(class='container')
			div(class="row")
				div(class="col-md-6")
					div(class="logo")
						h1
							a(href='#') Amphibian<span class='tblue'>.</span>com
				div(class="navigation pull-right")
					a(href="/") Home
					a(href="/about") About
					a(href="/merch") Merch
					a(href="/games") Games
			
	// Header Ends
			
