div(class='top')

	// Header Starts

	header
		div(class='container')
			div(class="row")
				div(class="col-md-6")
					div(class="logo")
						if toads
							h1 <span class="notranslate">Toads.co</span>
						else
							h1 <span class="notranslate">Amphibian<span class='tblue'>.</span>com</span>
				div(class="navigation pull-right")
					a(href="/") Home
					a(href="/archive") Archive
					a(href="/about") About
					a(href="/merch") Merch
					a(href="/games") Games
			
	// Header Ends
