- var pageTitle = (title ? 'Amphibian.com - ' + title : 'Amphibian.com')
head
	title= pageTitle
	meta(charset='utf-8')
	meta(name='viewport',content='width=device-width,user-scalable=1')
	meta(property='og:site_name',content='Amphibian.com')
	meta(property='og:type',content='website')
	if id
		meta(property='og:title',content=( title ? title : 'Today\'s Comic'))
		meta(property='twitter:title',content=( title ? title : 'Today\'s Comic'))
		meta(property='og:url',content='http://' + url + '/' + id)
		meta(property='twitter:url',content='http://' + url + '/' + id)
		meta(property='og:image',content='http://' + url + '/cell/' + id + '.png')
		meta(property='twitter:image',content='http://' + url + '/cell/' + id + '.png')
		meta(property='og:image:type',content='image/png')
		meta(property='og:image:width',content='400')
		meta(property='og:image:height',content='232')
		meta(property='twitter:card',content='photo')
		meta(property='twitter:site',content='@frogcomics')
		if pubDate
			meta(property='og:description',content='Amphibian.com webcomic for ' + pubDate)
			meta(property='twitter:description',content='Amphibian.com webcomic for ' + pubDate)
		else
			meta(property='og:description',content='The ongoing story of what happens when frogs start a technology company...')
			meta(property='twitter:description',content='The ongoing story of what happens when frogs start a technology company...')
	link(href='/css/style.css',rel='stylesheet')
	link(href='/css/bootstrap.min.css',rel='stylesheet')
	link(href='/css/font-awesome.min.css',rel='stylesheet')
	if toads
		link(href='/css/toads-style.css',rel='stylesheet')
	else
		link(href='/css/style2.css',rel='stylesheet')
	link(href='/simg/frog.ico',rel='shortcut icon')
	link(href="http://" + url + "/feeds/atom",rel="alternate",type="application/atom+xml",title="Amphibian.com")
	if (basic)
		link(href='/css/sniglet-webfont.css',rel='stylesheet')
	else
		link(href='http://fonts.googleapis.com/css?family=Sniglet',rel='stylesheet',type='text/css')
