head
	title Amphibian.com
	meta(charset='utf-8')
	meta(name='viewport',content='width=device-width,user-scalable=1')
	meta(property='og:site_name',content='Amphibian.com')
	meta(property='og:title',content='page title')
	meta(property='og:description',content='What happens when frogs start a technology company...')
	meta(property='og:url',content='http://www.amphibian.net/' + id)
	meta(property='og:type',content='comic')
	meta(property='og:image',content='http://www.amphibian.net/simg/og_logo.png')
	meta(property='og:image:type',content='image/png')
	meta(property='og:image:width',content='300')
	meta(property='og:image:height',content='299')
	link(href='/css/style.css',rel='stylesheet')
	link(href='/css/bootstrap.min.css',rel='stylesheet')
	link(href='/css/font-awesome.min.css',rel='stylesheet')
	link(href='/css/style2.css',rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Sniglet',rel='stylesheet',type='text/css')
