head
	title Amphibian.com
	meta(charset='utf-8')
	meta(name='viewport',content='width=device-width,user-scalable=1')
	link(href='/css/style.css',rel='stylesheet')
	link(href='/css/bootstrap.min.css',rel='stylesheet')
	link(href='/css/font-awesome.min.css',rel='stylesheet')
	link(href='/css/style2.css',rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Sniglet',rel='stylesheet',type='text/css')
