div(class="modal fade",id="myModal",tabindex="-1",role="dialog",aria-labelledby="uploadModalLabel",aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			form#imgUpload(action="/images", method="POST", enctype="multipart/form-data")
				div(class="modal-header")
					button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
					h4(class="modal-title",id="uploadModalLabel") Upload a New Image
				div(class="modal-body")
						input(type='file', name='svg')
				div(class="modal-footer")
					button(type="button",class="btn btn-default",data-dismiss="modal") Close
					button(type="submit",class="btn btn-primary") Upload Image
