// JavaScript files

script(src='/js/jquery.js')
script(src='/js/bootstrap.min.js')
script(src='/js/respond.min.js')
script(src='/js/html5shiv.js')
script(src='/js/jquery.cookie.js')
script(src='/js/custom.js')
script(src='//assets.pinterest.com/js/pinit.js',type='text/javascript',data-pin-build='build_pinterest_button')
script(src='//cdn.jsdelivr.net/emojione/1.5.2/lib/js/emojione.min.js')

if admin
	script(src='/js/jquery.contextMenu.js')
	script(src='/js/adminFunctions.js')

if scripts
	- for (var s in scripts)
		script(src='/js/' + scripts[s])
