doctype html
html
	include head
	body
		include header
		
		div(class="container",style='padding-top: 20px; min-height: 500px;')
		
			form(action='/login',method='POST')

				div(class='panel panel-primary',style='margin-top: 15px; max-width: 350px; margin: 0 auto;')
	
					div(class="panel-heading")
						h2.panel-title Please Sign In
	
					div(class='panel-body')
			
						div.form-group(style='margin-top: 15px; max-width: 300px; margin: 0 auto;')
			
							input#username.form-control(type='text',name='username',placeholder="username",style='margin-bottom: 5px;')
							input#password.form-control(type='password',name='password',placeholder="password",style='margin-bottom: 5px;')
							
							if (message)
								div(class="alert alert-danger")= message
	
					div(class='panel-footer')
	
						button(type="submit",class="btn btn-primary pull-right") Login
						div(style='clear: both;')
		
		include footer
		include js
