doctype html
html
	
	head
		title= pageTitle
		meta(charset='utf-8')
		meta(name='viewport',content='width=800,user-scalable=1')
		meta(property='og:site_name',content=domain)
		meta(property='og:type',content='website')
		link(href='/css/style.css',rel='stylesheet')
		link(href='/css/bootstrap.min.css',rel='stylesheet')
		link(href='/css/font-awesome.min.css',rel='stylesheet')
		link(href='/css/style2.css',rel='stylesheet')
		link(href='/simg/frog.ico',rel='shortcut icon')
		link(href='/css/webfonts.css',rel='stylesheet')

	body
		include header
		
		div
			p.cTitle No Comic Found - But Here's a Game!
		
		div#gameArea
		
		div#gameInfo
			p
				a(href="/404/index.html") Play Full Screen
			p
				a(href="https://github.com/cwleonard/comic-404") Complete Source Code on GitHub!
			
		include footer
		include js
		
		script
			!= 'var width = 800;'
			!= 'var height = 600;'

		script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
		script(src="js/phaser.min.js")
		script(src="js/game2.js")
		