doctype html
html
	include head
	body
		include header
		
		div(class="about-us block",style="border-bottom: none;")
			div(class="container")
				
				div(class="about-one")

					div(class="about-one-item")

						div(class="about-one-content")
							h3 Free Stickers!
							p 
								| Yes, free stickers! From now until 15 March 2015, you can have a FREE sticker with your favorite 
								| technology company amphibian on it. Well, assuming that either the CEO or the Science Frog is your
								| favorite. Because that's the two types of stickers we have. These are extremely high-quality
								| vinyl stickers - they'd look great on your laptop or the back window of your automobile. They
								| are waterproof, don't fade, and peel off cleanly (not that you'd ever want to remove one).
							p 
								| Anyway, all you have to do to get your free sticker is use your <a href="https://twitter.com">Twitter</a> account to re-Tweet one of
								| the comic links from our
								| <a href="https://twitter.com/frogcomics">@frogcomics</a> Twitter account, or Tweet your own link
								| to one of our comics and mention <a href="https://twitter.com/frogcomics">@frogcomics</a>
								| in the Tweet. Then we'll contact you to get your sticker on its way!
							p
								| There are some rules though. One sticker per person, and you can't just go making a bunch of extra
								| Twitter accounts to get more free stickers. If you'd like more stickers, you can always buy them
								| from the <a href="/merch">Merch page</a>.

							div.container-fluid
								div.row
									div.col-sm-6
										div.buy
											img(class='img-responsive',src='/simg/science_sticker.png')
											p.mtitle The Science Frog Sticker
											p(style="text-align: center;") This sticker is 7 cm tall and 6 cm wide.
									div.col-sm-6
										div.buy
											img(class='img-responsive',src='/simg/ceo_sticker.png')
											p.mtitle The CEO Frog Sticker
											p(style="text-align: center;") This sticker is 6 cm tall and 5.5 cm wide.

							p(style="text-align: center;") Happy Tweeting!

					div(class="clearfix")
				

		
		include footer
		include js
