div(class="modal fade",id="saveModal",tabindex="-1",role="dialog",aria-labelledby="saveModalLabel",aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
				h4(class="modal-title",id="saveModalLabel") Save Comic
			div(class="modal-body")
				p#saveResults
			div(class="modal-footer")
				button(type="button",class="btn btn-primary",data-dismiss="modal") OK
