doctype html
html
	head
		title Amphibian.com Stats
		meta(charset='utf-8')
		link(href='/css/style.css',rel='stylesheet')
		link(href='/css/bootstrap.min.css',rel='stylesheet')
		link(href='/css/font-awesome.min.css',rel='stylesheet')
		link(href='/css/style2.css',rel='stylesheet')
		link(href='/simg/frog.ico',rel='shortcut icon')
		link(href='/css/webfonts.css',rel='stylesheet')

	body
		include header
		
		div(class="about-us block",style="border-bottom: none;")
			div(class="container")
				
				div(class="about-one")

					div(class="about-one-item")

						div(class="about-one-content")
						
							h3 Comic Views (last 7 days)
							div(style="margin: auto; width: 80%;")
								canvas#viewsChart(style="border: 1px solid #000000; margin-bottom: 10px; padding: 20px;",width="70",height="40")

					div(class="clearfix")

				div(class="about-one",style="margin-top: 10px;")

					div(class="about-one-item")

						div(class="about-one-content")
						
							h3 User Agents (last 7 days)

							div.container-fluid
								div.row
									div.col-sm-4
									
										div(style="margin: auto; width: 80%;")
											p Browsers
											canvas#browsersChart(style="margin-bottom: 10px; padding: 20px;",width="10",height="10")

									div.col-sm-4

										div(style="margin: auto; width: 80%;")
											p Operating Systems
											canvas#osChart(style="margin-bottom: 10px; padding: 20px;",width="10",height="10")

									div.col-sm-4

										div(style="margin: auto; width: 80%;")
											p Engines
											canvas#enginesChart(style="margin-bottom: 10px; padding: 20px;",width="10",height="10")

					div(class="clearfix")

				div(class="about-one",style="margin-top: 10px;")

					div(class="about-one-item")

						div(class="about-one-content")
						
							div.container-fluid
								div.row
									div.col-sm-6

										h3 Top Sources (last day)
									
										div(style="margin: auto; width: 80%;")
											div#topSources

									div.col-sm-6

										h3 Top Comics (last day)

										div(style="margin: auto; width: 80%;")
											div#topComics

					div(class="clearfix")
		
		include js
		script(src='/js/Chart.min.js')
		script(src='/js/stats.js')
