
@media only screen and (min-width: 1200px) {

	div#sizer {
		width: 650px;
	}
	
	p.cTitle {
		font-size: 3.2em;
	}

	.box {
		height: 404px;
	}
	
	.bubble-text {
		font-size: 2.3em;
	}

	.standard-text {
		font-size: 2.1em;
	}

	.hand-text {
		font-size: 2.3em;
	}

	.olde-text {
		font-size: 2.7em;
	}

	.bubble {
		-webkit-border-radius: 34px;
		-moz-border-radius: 34px;
		border-radius: 34px;
	}

	.bubbleBottom:after {
		border-width: 48px 20px 0;
		bottom: -46px;
		margin-left: -24px;
	}
	
	.bubbleBottom:before {
		border-width: 50px 22px 0;
		bottom: -52px;
		margin-left: -26px;
	}

	.bubbleLeft:after {
	  	border-width: 22px 50px 22px 0;
		top: 30%;
		left: -43px;
	}
	
	.bubbleLeft:before {
		border-width: 22px 50px 22px 0;
		left: -38px;
		top: 30%;
		margin-left: -14px;
	}

	.bubbleRight:after {
	  	border-width: 22px 0 22px 50px;
		top: 30%;
		right: -41px;
	}
	
	.bubbleRight:before {
		border-width: 22px 0 22px 50px;
		right: -50px;
		top: 30%;
		margin-left: -14px;
	}

}

