.drop {
  z-index: 9999;
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:3px;
	height:89px;
	position: absolute;
	bottom:200px;
  -webkit-animation: fall .68s linear infinite;
  -moz-animation: fall .68s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:700px;}
}
@-moz-keyframes fall {
	to {margin-top:700px;}
}
