.bubble {
	position: absolute;
	width: 44%;
	padding: 10px;
	text-align: center;
	background: #FFFFFF;
	border: #000000 solid 3px;
	font-family: 'Sniglet', sans-serif;
	line-height: initial;
	color: #000000;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	
	/* the following are adjusted by screen size. these values are the minimums.  */
	font-size: 1em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 34px 15px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -32px;
	margin-left: -20px;
	left: 50%;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 36px 17px 0;
	border-color: #000000 transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -38px;
	margin-left: -22px;
	left: 50%;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
}

div#sizer {
	margin: auto;
	
	/* width will be adjusted by screen size. this is the minimum */
	width: 310px;
	
}

.box {
	
	width: 100%;
	border: #BBBBBB solid 3px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 10px #CCCCCC;
	border-radius: 7px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: #FFFFFF;
	
	/* height will be adjusted by screen size. this is the minium */
	height: 194px;
	
}

.box img {
	position: absolute;
}

div.info {
	width: 100%;
	margin: auto;
	position: relative;
	margin-top: 10px;
	padding-bottom: 2.2em;
}

div#controls {
	padding-left: 5px;
}

span.control {
	padding-left: 15px;
}

.info p.rnav {
	font-size: 1.8em;
	display: inline;
	float: right;
}

.info p.lnav {
	font-size: 1.8em;
	display: inline;
	float: left;
}

.info a {
	color: #004400;
}

.info a:hover,a:focus {
	color: #009600;
}

p.pubdate {
	text-align: center;
}

form#imgUpload {
	padding-top: 70px;
	position: absolute;
	display: none;
}

/* --------- responsive media stuff ---------------------- */

@media only screen and (min-width: 400px) {

	div#sizer {
		width: 340px;
	}

	.box {
		height: 212px;
	}

	.bubble {
		font-size: 1.1em;
		-webkit-border-radius: 23px;
		-moz-border-radius: 23px;
		border-radius: 23px;
	}

}

@media only screen and (min-width: 600px) {

	div#sizer {
		width: 450px;
	}

	.box {
		height: 280px;
	}
	
	.bubble {
		font-size: 1.2em;
		-webkit-border-radius: 28px;
		-moz-border-radius: 28px;
		border-radius: 28px;
	}

}


