.bubble-text {
	/* adjusted by screen size. this is the minimum  */
	font-size: 1.1em;
}

.bubble {
	position: absolute;
	width: 44%;
	padding: 2%;
	text-align: center;
	background: #FFFFFF;
	border: #000000 solid 3px;
	font-family: 'Sniglet', sans-serif;
	line-height: initial;
	color: #000000;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	
	/* the following are adjusted by screen size. these values are the minimums.  */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: #FFFFFF transparent;
	display: none;
	width: 0;
	z-index: 1;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	/* the following are adjusted by screen size. these values are the minimums.  */
	border-width: 21px 7px 0;
	bottom: -21px;
	margin-left: -12px;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: #000000 transparent;
	display: none;
	width: 0;
	z-index: 0;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	/* the following are adjusted by screen size. these values are the minimums.  */
	border-width: 25px 9px 0;
	bottom: -27px;
	margin-left: -14px;
}


.bubble25:after {
	left: 25%;
	display: block;
}

.bubble25:before {
	left: 25%;
	display: block;
}

.bubble50:after {
	display: block;
	left: 50%;
}

.bubble50:before {
	display: block;
	left: 50%;
}

.bubble75:after {
	display: block;
	left: 75%;
}

.bubble75:before {
	display: block;
	left: 75%;
}

div#sizer {
	margin: auto;
	
	/* width will be adjusted by screen size. this is the minimum */
	width: 310px;
	
}

.box {
	
	width: 100%;
	border: #BBBBBB solid 3px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 10px #CCCCCC;
	border-radius: 7px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: #FFFFFF;
	
	/* height will be adjusted by screen size. this is the minimum */
	height: 194px;
	
}

.box img {
	position: absolute;
	z-index: 2;
}

div.info {
	width: 100%;
	margin: auto;
	position: relative;
	margin-top: 10px;
	/* padding-bottom: 2.2em; */
}

div#controls {
	padding-left: 5px;
}

span.control {
	padding-left: 15px;
}

.info p.rnav {
	font-size: 1.8em;
	display: inline;
	float: right;
	cursor: pointer;
}

.info p.lnav {
	font-size: 1.8em;
	display: inline;
	float: left;
	cursor: pointer;
}

.info a {
	color: #004400;
}

.info a:hover,a:focus {
	color: #009600;
}

p.pubdate {
	text-align: right;
}

p.cTitle {
	font-family: 'Sniglet', sans-serif;
	text-align: center;
	margin-top: 10px;
	
	/* size will be adjusted by screen size. this is the minimum */
	font-size: 1.8em;
}

div#sizer hr {
	margin-top: 8px;
	margin-bottom: 10px;
	border-top: 1px solid #B2DBB8;
}

div#sizer label {
	font-weight: normal;
}

div#toolbar {
	position: fixed;
}

.affix {
	top: 8px;
	left: 8px;
}

.affix-top {
	position: fixed;
	top: 110px;
	left: 8px;
}

div#social-buttons {
	width: 40%;
	float: left;
}

div#pubdatediv {
	width: 60%;
	float: right;
}

.col-md-4 {
	margin-bottom: 10px;
}

.col-sm-4 {
	margin-bottom: 10px;
}

div.buy {
	
	padding: 20px;
	border: 1px solid #999999;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

div.buy table {
	margin: auto;
}

div.buy img {
	margin: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div.buy p.mtitle {
	text-align: center;
	font-weight: bold;
}

/* --------- responsive media stuff ---------------------- */

@media only screen and (min-width: 400px) {

	div#sizer {
		width: 340px;
	}

	p.cTitle {
		font-size: 2.1em;
	}

	.box {
		height: 212px;
	}

	.bubble-text {
		font-size: 1.2em;
	}

	.bubble {
		-webkit-border-radius: 23px;
		-moz-border-radius: 23px;
		border-radius: 23px;
	}

}

@media only screen and (min-width: 600px) {

	div#sizer {
		width: 450px;
	}
	
	p.cTitle {
		font-size: 2.7em;
	}

	.box {
		height: 280px;
	}
	
	.bubble-text {
		font-size: 1.6em;
	}
	
	.bubble {
		-webkit-border-radius: 28px;
		-moz-border-radius: 28px;
		border-radius: 28px;
	}

	.bubble:after {
		border-width: 34px 15px 0;
		bottom: -32px;
		margin-left: -20px;
	}
	
	.bubble:before {
		border-width: 36px 17px 0;
		bottom: -38px;
		margin-left: -22px;
	}

}


